@font-face {
    font-family: "Valverde", "Helvetica", sans-serif;
    src: url("../Valverde-Font/Valverde-CondensedSemibold.otf") format("opentype");
    /* Add additional formats here if needed */
}

@font-face {
    font-family: "GT-America Bold";
    src: url("../GT-America/GT-AmericaBold.otf") format("opentype");
    /* Add additional formats here if needed */
}

body{
    box-sizing: border-box;
    background-color: var(--primary-color);
}

header{
    position: relative;
    background-color: var(--primary-color);
    height: 100vh;
}

/* --------------------------------------------------- NAV BAR -------------------------------------------------------------------*/

#fixed-nav{
    width: 75%;
    margin: auto;
    margin-top: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0; /* Top and bottom padding is 18px, left and right padding is 0 */
    border-radius: 50px;
    outline: none;
}

#fixed-nav.scrollEffect{
    position: fixed;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(34,32,33, 0.9);
    padding-right: 32px;
    padding-left: 32px;
    z-index: 1500;
    transition: background 1s;
}

#logo{
    position: relative;
    cursor: pointer;
}

#logo img{
    position: absolute;
    top: -20px;
    left: -5px;
    width: 145px;
    height: 40px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
}

#logo:hover{
    opacity: .85;
}

#fixed-nav .right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.right-nav .languages a{
    font-family: "Nunito", sans-serif;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.active-language{
    font-weight: 900;
}

.languages{
    display: flex;
    gap: 8px;
}

/* HAMBURGUER BUTTON */
.nav_open-btn{
    z-index: 500;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #000;
    box-shadow: 5px 3px 0px 0px #000;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.nav_open-btn:hover{
    box-shadow: none;
    background-color: #ffffffcf;
    transition: box-shadow .3s ease;
}


/* ----------------------------------------------------- HIDDEN MENU -----------------------------------------------------------------*/

#hidden-menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    z-index: 1000;
    overflow: hidden;
    padding-bottom: 24px;
    transition: opacity 0.3s ease, visibility 0.5s ease;/* Smooth transition over 0.3s for both opacity and top */
    opacity: 0;
}

#hidden-menu.show {
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.5s ease; /* Smooth transition over 0.3s for both opacity and top */

}

.flex-container{
    display: flex;
    margin: auto;
    width: 75%;
    height: 88%;
    border-radius: 35px;
}

.menu-left-content{
    width: 55%;
    background: #fff;
    padding-top: 150px;
    padding-left: 11%;
    border-top-left-radius:35px ;
    border-bottom-left-radius:35px ;
}

.menu-left-content ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-bottom: 35px;
}

.menu-left-content ul li a{
    font-family: "Valverde", sans-serif;
    font-size: 2.4rem;
    text-decoration: none;
    color: #454242;
    white-space: nowrap;
    transition: all .3s ease;

}

.menu-left-content ul li a:hover{
    color: var(--primary-color);
    transition: all .3s ease;
    letter-spacing: 1.5px;
}

.menu_link-contact.active{
    color: var(--primary-color);
    text-decoration: underline;
}

.language-selection{
    display: flex;
    font-family: "Nunito", sans-serif;
    gap: 1rem;
}

.language-selection span{
    font-size: 1rem;
    font-weight: 800;
    color: #000;
}

.languages-menu{
    display: flex;
    gap: .5rem;
}

.languages-menu a{
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.languages-menu .active{
    font-weight: black;
    color: var(--primary-color);
}

#menu-images{
    width: 45%;
    height: auto;
    object-fit: cover;
    border-top-right-radius:35px ;
    border-bottom-right-radius:35px ;
    transition: opacity 1.2s ease;
    border: 2px solid #fff;
}

.hiddenMenu_close-btn{
    position: absolute;
    top: 7.3%;
    right: 12.5%;
    z-index: 3000;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #000;
    box-shadow: 5px 3px 0px 0px #000000;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.hiddenMenu_close-btn:hover{
    box-shadow: none;
    background-color: #ffffffcf;
    transition: box-shadow .3s ease;
}

/* ------------------------------------------------------- CONTACT FORM ------------------------------------------------------------ */
#contact-container {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100vh;
    text-align: center;
}

#contact-container h3{
    font-family: "Valverde", sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

#contact-container span{
    font-style: italic;
    text-decoration: underline;
}

#contact-container form {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-family: "Nunito", sans-serif;
    margin: auto;
    margin-top: 32px;
}


#contact-container input[type="email"] {
    /* Your styles for email input */
    width: 48%;
    border: 3px solid #000;
    border-radius: 5px;
    flex: 1;
}

#contact-container input[name="name"]{
    width: 48%;
    margin-right: 14px;
    border: 3px solid #000;
    border-radius: 5px;
    flex: 1;
}

#contact-container input[name="subject"]{
    width: 100%;
    margin-right: 24px;
    margin-top: 24px;
    border: 3px solid #000;
    border-radius: 5px;
}

#contact-container input, #contact-container textarea{
    font-size: .9rem;
    padding: 15px 30px;
    resize: none;
    border: 3px solid #000;
    border-radius: 5px;
}

#contact-container textarea{
    font-family: "Nunito", sans-serif;
    width: 97.4%;
    height: 180px;
    margin-top: 24px;
    margin-bottom: 34px;
    font-weight: 600;
}

#contact-container button[type="submit"] {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 60px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: #1E1E1E;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    flex: 1;
    position: relative;
}



/* ------------------------------------------------------- FOOTER ------------------------------------------------------------ */


#footer{
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.5%;
    font-family: "Nunito", sans-serif;
    font-size: .85rem;
    width: 100%;
    height: 55px;
    background: #1E1E1E;
    color: var(--white);
    text-align: center;
    margin-top: 32px;
}

.footer-socials{
    display: flex;
    gap: 8px;
}

#footer .footer-socials a svg{
    width: 20px;
    height: 20px;
}

#footer .footer-socials a svg:hover{
    opacity: .65;
}


/* ------------------------------------------ CREATING MEDIA QUERIES -------------------------------------------------------------- */
@media screen and (max-width: 480px){
    html{
        font-size: 12px;
    }

    #fixed-nav{
        margin-bottom: 32px;
    }

    #contact-container h3{
        font-family: "Valverde", sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }
    
    #contact-container span{
        font-style: italic;
        text-decoration: underline;
    }
}